{% if page.mobile_nav %}
  <!-- Mobile Navigation -->
  <div id="sidr" style="display: none;">
    <div id="mobile-sidr-content">
      <div class="mobile-nav-close">
        <a class="b-mobile-nav-close" href="#">
          <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </a>
      </div>

      <div class="site-mobile-nav">
        {{ page.mobile_nav }}
      </div>
    </div>
  </div>
  <!-- / Mobile Navigation -->
{% endif %}

<header class="header">
  <div class="container">

    <div class="header__logo">
      <a href="{{ front_page }}">
        <img src="{{ base_path ~ directory }}/gfx/logo.svg" alt="{% if site_name %}{{ site_name }}{% endif %}" />
      </a>
    </div>

    {% if page.mobile_nav %}
      <!-- Mobile Navigation Toggle -->
      <nav class="header__mobile-toggle visible-xs-block">
        <ul class="clearfix">
          <li>
            <a class="b-mobile-nav-toggle" href="#" title="{{ 'Menu'|t }}"><span aria-hidden="true" class="glyphicon glyphicon-menu-hamburger"></span></a>
          </li>
        </ul>
      </nav>
      <!-- / Mobile Navigation Toggle -->
    {% endif %}

    {% if page.header_nav %}
      <!-- Header Navigation -->
      <nav class="header__top-navigation hidden-xs">
        {{ page.header_nav }}
      </nav>
      <!-- / Header Navigation -->
    {% endif %}
  </div>

  <div class="header__main-navigation-wrapper hidden-xs">
    <div class="container">
      {% if page.primary_nav %}
        <!-- Main Navigation -->
        <nav class="header__main-navigation">
          {{ page.primary_nav }}
        </nav>
        <!-- / Main Navigation -->
      {% endif %}

      {% if page.site_search %}
        <!-- Site Search -->
        <div class="header__search-bar">
          {{ page.site_search }}
        </div>
        <!-- / Site Search -->
      {% endif %}
    </div>
  </div>
</header>
